@page "/Posts"
@inject HttpClient Http
<h3>Nos publication</h3>

@if (_categories != null)
{
    <EditForm Model="@_category" OnValidSubmit="HandleFilter">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        
        <label>Filtrer la recherche</label>

        <InputSelect @bind-Value="@_category">
            <option value="0"></option>
            @foreach (var item in _categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </InputSelect>

        <button class="btn btn-primary" type="submit">Filtrer</button>
        <a href="/posts/add">Ajout une publication</a>
    </EditForm>
}

@if (_posts != null)
{
    @foreach (var item in _posts)
    {
        if (@item.PublicationDate <= DateTime.Now)
        {
            <div>
                <p class="font-weight-bold">Name :</p> @item.Name
                <p class="font-weight-bold">Description :</p> @item.Description
                <p class="font-weight-bold">Date de création :</p> @item.PublicationDate
                <p class="font-weight-bold">Contenu : </p> @item.Content
                <p class="font-weight-bold">Catégorie : </p> @item.Category.Name
                <p class="font-weight-bold">Auteur : </p> @item.Author.ToString()
                <p class="font-weight-bold">Détails : </p> @item.Author.ToString()
            </div>
            <div>
                <a href="/post/" + @item.Id>Détails</a>
            </div>
        }
    }
}

@code {
    private PostReadDTO[] _posts;
    private CategoryReadDTO[] _categories;
    private CategoryReadDTO _category = new();

    protected async override Task OnInitializedAsync()
    {
        _posts = await Http.GetFromJsonAsync<PostReadDTO[]>("api/post");
        _categories = await Http.GetFromJsonAsync<CategoryReadDTO[]>("api/category");
    }

    protected async Task HandleFilter()
    {
        if (_category != null)
        {
            _posts = await Http.GetFromJsonAsync<PostReadDTO[]>("api/post" + _category.Name);
        }
    }
}